<header class="header">
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center header__content"
    >
      <div class="d-flex align-items-center header__content__right">
        <h4><a routerLink="" class="header__logo">PLAN PRO</a></h4>
        <ul class="d-flex nav__list">
          <li class="nav__item">
            <a href="">Events</a>
          </li>
          <li class="nav__item">
            <a href="">Groups & Meetings</a>
          </li>
          <li class="nav__item">
            <a href="">Support</a>
          </li>
          <li class="nav__item">
            <a href="">Trips</a>
          </li>
        </ul>
      </div>
      <div class="header__content__left">
        <button type="button" *ngIf="isUserLoggedIn" (click)="onLogout()">
          LOGOUT
        </button>
        <a [hidden]="isUserLoggedIn" routerLink="/login">LOGIN</a>
        <a [hidden]="isUserLoggedIn" routerLink="/register">REGISTER</a>
        <a *ngIf="isUserLoggedIn" routerLink="/dashboard">DASHBOARD</a>
      </div>
    </div>
  </div>
</header>

<section class="d-flex align-items-center hero__section">
  <div class="container">
    <form action="#" class="col-md-5 hero__form">
      <div class="row align-items-center">
        <div class="col">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Choose The City"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="input-wrap">
              <div class="icon"><span class="ion-md-calendar"></span></div>
              <input
                type="date"
                class="form-control appointment_date-check-in"
                placeholder="Check-In"
              />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="input-wrap">
              <div class="icon"><span class="ion-md-calendar"></span></div>
              <input
                type="date"
                class="form-control appointment_date-check-out"
                placeholder="Check-Out"
              />
            </div>
          </div>
        </div>
        <div class="col">
          <button type="submit" class="hero__form__btn">
            CHECK EVENT AVAILABILTY
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="hotels__section">
  <div class="hotels__section__content">
    <div class="container">
      <div class="hotels__section__title">
        <h5>Discover Our Event Categories</h5>
        <span></span>
      </div>
      <div class="row hotels__content">
        <div *ngFor="let category of categories" class="col-3 hotel__item">
          <div class="hotel__image">
            <img src="{{ category.imageUrl }}" class="w-100" />
          </div>
          <h5 class="my-3 text-capitalize">{{ category.name }}</h5>
          <p class="hotel__description">{{ category.description }}</p>
          <a routerLink="/hotel/rooms/{{ category.id }}" class="see__all_rooms_btn"
            >SEE ALL EVENTS</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="offer__section">
  <div>
    <h2>Get 10% off For Your Next Event</h2>
    <p>
      Get ready for the event of the year! We're excited to offer you a special discount of 10% off 
      all ticket purchases for our upcoming event. This is your chance to save on admission 
      and experience all the excitement and fun that the event has to offer. To take advantage of this offer, 
      simply enter the promo code EVENT10 at checkout. 
    </p>
    <button>Get Started</button>
  </div>
</section>

<section class="rooms__section">
  <div class="container">
    <div class="hotels__section__title">
      <h5>Discover Our New Featured Events</h5>
      <span></span>
    </div>
    <div class="row gap-5 rooms__layout">
      <div class="col-8 rooms__content">
        <div *ngFor="let event of events" class="room__item">
          <div class="row ">
            <div class="room__image">
              <img src="{{ event.imageUrl }}" class="w-100" />
            </div>
            <div class="room__text">

               <div class="mt-3 d-flex justify-content-between align-items-center">
                   <h6 class="m-0 room__name">{{ event.name }}</h6>
                   <p class="m-0 text-capitalize category-name">#{{ event.category.name }}</p>
               </div>

               <div>
                  <p class="event-date">{{ event.startDate }}</p> 
               </div>
               
               <div class="d-flex justify-content-between align-items-center">
                  <p class="m-0"> Places : <span class="room__price">{{ event.places }}</span> </p>
                  <button class="room__details__link btn btn-sm" (click)="onSelectEvent(event)"> Details </button>  
              </div>

            </div>
      </div>
        </div>
      </div>
      <div class="col-3 rooms__sidebar">
        <div class="filters__container" data-lp-ga-view="filter:view">
          <h6
            class="filters__header mb-4 p-3"
            style="color: #eee; background-color: #FF6633; border-radius: 3px"
          >
            Filter By :
          </h6>
          <div class="bui-spacer--large">
            <h5 class="filter__title">Star Rating</h5>
            <hr />
            <div class="bui-group filters__list" role="group">
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >1 stars</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >2 stars</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >3 stars</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >4 stars</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >5 star</span
                >
              </p>
            </div>
          </div>
          <div class="bui-spacer--large">
            <h5 class="filter__title">Review Score</h5>
            <hr />
            <div class="bui-group filters__list" role="group">
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >Superb: 9+</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >Very good: 8+</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >Good: 7+</span
                >
              </p>
              <p>
                <input class="bui-checkbox__input" type="checkbox" />
                <span class="bui-checkbox__label filter__label ms-2"
                  >Pleasant: 6+</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>Copyright &copy; All Right Reserved.</p>
</footer>

<!-- Start Room Information Button -->
<button
  [hidden]="true"
  type="button"
  id="openRoomInfo"
  data-bs-toggle="modal"
  data-bs-target="#viewRoomModal"
></button>
<!-- Start Room Information Button -->

<!-- Start Room Information Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="viewRoomModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby=""
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">
          | {{ selectedEvent.name }}
        </h5>
        <button
          type="button close-btn-modal"
          class="close close-btn-modal"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="card">
            <div class="card-body">
              <div class="">
                <div class="col-12 col-sm-auto">
                  <div class="mx-auto mb-3" style="width: 420px">
                    <div
                      class="d-flex justify-content-center align-items-center rounded"
                    >
                      <img
                        class="w-100"
                        src="{{ selectedEvent.imageUrl }}"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="col d-flex flex-column flex-sm-row justify-content-between"
                >
                  <div class="text-sm-left mb-sm-0">
                    <h4 class="p-0 mb-2 text-nowrap">
                      <span>
                        {{ selectedEvent.name }}
                      </span>
                    </h4>
                    <div class="mb-2">
                      <span>Description : </span>
                      <span style="color: #666; font-size: 14px">{{
                        selectedEvent.description
                      }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span>Places : </span>
                      <span style="color: #344854; font-weight: 600">{{
                        selectedEvent.places 
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
         
              <li class="list-group-item">
                <span *ngIf="selectedEvent">
                  <i class="fa fa-unlock float-right me-3" style="color: green">
                  </i>
                  <span>Open</span>
                </span>
                <span [hidden]="selectedEvent">
                  <i class="fa fa-lock float-right me-3" style="color: #ffcc00">
                  </i>
                  <span>Reserved</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button
          class="btn btn-sm text-white"
        
        style="background-color:#FF6633 "
          (click)="onBooking(selectedEvent.id)"
        >
          Reserve Your Place
        </button>
        <button
          type="button"
          id="hide-room-details-btn"
          class="btn btn-sm btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Room Information Modal -->
