* {
  box-sizing: border-box;
}

h4 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.header {
  border: 1px solid #eee;
}

.header__top {
  padding: 10px;
  background-color: #344854;
}

.header__top span {
  color: #eee;
  font-size: 12px;
  letter-spacing: 2px;
}

.header__top a {
  color: #eee;
  font-size: 14px;
}

.header__content {
  padding: 25px 0;
}

.header__content__right a {
  color: #344854;
}

.header__content__left a {
  margin-left: 20px;
  color: #344854;
}

.header__content__left button {
  border: 0;
  color: #344854;
  background-color: transparent;
}

.header__logo {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav__item {
  margin-left: 25px;
}

/* Start Hero Section Styles */

.website-header h1{
 margin-bottom: 20px;
 color: #fff;
 text-align: center;
 font-size: 50px;
 letter-spacing: 1px;
}

.website-header p{
  margin-bottom: 80px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.7;
 }

.hero__section {
  height: 895px;
  background-image: url("/assets/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(37, 49, 57, 0.6);
  background-blend-mode: multiply;
}

.hero__form {
  border-radius: 4px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.hero__form__btn {
  padding: 17px;
  border: none;
  width: 100%;

  font-size: 14px;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #FF6633;
}

.hero__form__btn:hover {
  background-color: #e05628;
}

/* End Hero Section */

/* Start Hotels Section */
.hotels__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eff2ff;
}

.hotels__section__title {
  margin-bottom: 50px;
}

.hotels__section__title h5 {
  color: #344854;
}

.hotels__section__title span {
  margin-top: 10px;
  display: block;
  width: 113px;
  height: 8px;
  background-color: #253139;
}

.discover-category-description{
  margin-bottom: 50px;
  color: #344854;
  line-height: 1.7;
  letter-spacing: 1px;
}

.hotels__content {
  gap: 50px !important;
  justify-content: space-between;
}

.hotel__item {
  padding-right: 0;
  padding-left: 0;
  padding: 25px;
  border: 2px solid #e1e1e1;
  width: 400px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.hotel__image {
  border: 3px solid #eee;
}

.hotel__description {
  color: #666;
  font-size: 15px;
}

.see__all_rooms_btn {
  margin: auto;
  display: block;
  padding: 17px 20px;
  border: 2px solid #dddddd;
  color: #fff;
  background-color: #FF6633;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
}
/* End Hotels Section */

/* Start Offer Section */
.offer__section {
  height: 60vh;
  background-image: url("/assets/images/offer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #253139;
  background-blend-mode: overlay;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.offer__section h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.offer__section p {
  margin: auto;
  width: 50%;
  line-height: 1.6;
}

.offer__section button {
  margin-top: 40px;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: #FF6633;
  text-transform: uppercase;
}
/* End Hotels Section */

/* Start Rooms Section */
.rooms__section {
  padding: 80px 0;
}

.rooms__layout {
  justify-content: space-between;
}

.rooms__sidebar {
  padding: 20px;
  border: 2px solid #eee;
  background-color: rgba(224, 227, 238, 0.2);
}

.rooms__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 0;
  border: 2px solid #eee;
  background-color: rgba(224, 227, 238, 0.2);
}

.room__item {
  width: 30%;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #eee;
  background-color: #fff;
}

.room__name {
  color: #253139;
  font-weight: 600;
  font-size: 14px;
}

.room__description {
  color: #666;
  line-height: 1.6;
  font-size: 15px;
}

.room__price {
  color: #344854;
  font-weight: 600;
}

.room__details__link {
  color: #fff;
  background-color: #FF6633;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0;
}

.category-name{
  padding: 2px 7px;
  border: 1px solid #FF6633;
  color: #FF6633;
  font-size: 13px;
}

.event-date{
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}
/* End Rooms Section */

/* Start Modal Styles */
.close-btn-modal {
  border: none;
  background-color: transparent;
  font-size: 25px;
}
/* End Modal Styles */

.add__btn {
  color: #eee;
  background-color: #344854;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

footer p {
  margin: 0;
  padding: 25px;
  color: #666;
  background-color: #eeeef0;
  text-align: center;
  font-size: 14px;
}
