<div class="reservation">
  <div class="reservation__content">
    <div class="container rounded">
      <form
        #newReservationForm="ngForm"
        (ngSubmit)="onAddNewReservation(newReservationForm.value)"
      >
       <div class="button-container">
        <button
        type="submit"
        class="d-inline btn text-center"
        style="color: #eee; background-color: #fff"
      >
        Please confirm your reservation !!
      </button>
       </div>
      </form>
    </div>
  </div>
</div>
