.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/images/hero-image.jpg");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}

.reservation__content {
  padding: 50px;
  border: 3px solid #eee;
  background-color: green;
  width: 500px;
  height: 300px;
  text-align: center;
}

.reservation__content  div{
  height: 100%;

}

.reservation__content  div form{
  height: 100%;

}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button{
  padding: 15px 25px;
   border-radius: 0;
   border: 1px solid #fff;
   color: green !important;
}

.button-container button:hover{
   border: 1px solid #fff;
   color: #fff !important;
   background-color: green !important;
}
